@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar{display: none;}
::selection{color: #ffffe0;background-color: rgba(10,20,30,0.2);}
@layer components{
    .bannerIcon{
        @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
    }
    .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
         }
.bgOpacity {
@apply bg-black bg-opacity-40;
                  }
    .contactInput{
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300
    }
.contactTextArea{
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none
}
}
.Typewriter__cursor{color: rgb(255 1 79 / 1);}
.progress-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 10px;
        z-index: 99;
        background: linear-gradient(#ff014f,#3f3f3f);
        transform-origin: 0%;
      }
.active {
    color: white;
}
.infinite-scroll{
    display: flex;
    animation: infinite-scroll 10s linear infinite;
}
.infinite-scroll3{
    display: flex;
    animation: infinite-scroll 10s linear infinite;
    animation-delay: 2s;
}
.infinite-scroll2{
    display: flex;
    animation: infinite-scroll2 10s linear infinite;
}
 @keyframes infinite-scroll 
 {    
    from{ transform: translateX(0) }
    to{ transform: translateX(-100%)}
 }   
 @keyframes infinite-scroll2 
 {    
    from{ transform: translateX(-100%) }
    to{ transform: translateX(0)}
 }   
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 40px auto;
}
.human-body svg:hover {
    cursor: pointer;
}

.human-body svg {
    position: absolute;
    left: 50%;
    fill: #ffffff3f;
}
.human-body svg.head {
    margin-left: -28.5px;
    top: -6px;
}
.human-body svg.shoulder {
    margin-left: -53.5px;
    top: 69px;
}
.human-body svg.arm {
    margin-left: -78px;
    top: 112px;
}
.human-body svg.cheast {
    margin-left: -43.5px;
    top: 88px;
}
.human-body svg.stomach {
    margin-left: -37.5px;
    top: 130px;
}
.human-body svg.legs {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}
.human-body svg.hands {
    margin-left: -102.5px;
    top: 224px;
}
#area {
    display: block;
    width: 100%;
    clear: both;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Courier New;
    color: #a5a5a5;
}

#area p {
    font-weight: 700;
    color: #cbcbcb;
}
option{
    background-color: rgba(0, 0, 0, 0.286);
}